img{
width: 60%;
background-color: white;
}

.info{
    width: 80%; 
    margin-left: auto;
}

.contactBlock{

    display: flex;

}

h1{
    width: 50%;
}
input{
    width: 50%;
}

textarea{
    width: 50%;
}
