body{
    background-color: rgb(25,78,236);
}
.Alexander{
    margin-left: 40%;
    width: 10%;
    border-radius: 8px;
    
}
mark{
    background-color: white;
}
h1{
    background-color: white;
    color: black;
    font-weight: 1000;
    font-size: 1.9rem;
}
nav{
    margin-left: 20%;
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 1000;

}

.navBar{
    display: flex;
}


ul{
    list-style-type: none;
}
li{
    margin: 2%;




}

a{
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-size: 3.5rem;
    color: white;
    font-weight: 1000;
}


p{
    text-decoration: none;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 1000; 

}